{% extends "base.html" %} {% block title %}Graph{% endblock %} {% block
  content%} {% if user.is_authenticated %}
  <div id="graph-cont">
    <div id="graph">{{ candlestick_chart | safe}}</div>
    <div class = "stocks-list" style="display: flex; flex-direction: column; ">
      <button class="submit-btn" name = "Add">MACD</button>
      <button class="submit-btn" name = "Add">RSI</button>
      <button class="submit-btn" name = "Add">SMA-50</button>
      <button class="submit-btn" name = "Add">SMA-100</button>
      
    </div>
  </div>
  <div class="graph-pane">
    <form method="POST">
      <button class="submit-btn" name="Daily" value="Daily" type="submit">
        Daily
      </button>
      <button class="submit-btn" name="Weekly" value="Weekly" type="submit">
        Weekly
      </button>
      <button class="submit-btn" name="Monthly" value="Monthly" type="submit">
        Monthly
      </button>
    </form>
  </div>
  
  {% endif %} {% endblock %}
  