{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<form method="post" class="auth-form">
  <h3 align="center">Login</h3>
  <div class="forms">
    <label for="username">Username</label>
    <input type="username" class="form-item" id="username" name="username" placeholder="Enter username" />
  </div>
  <div class="forms">
    <label for="password">Password</label>
    <input type="password" class="form-item" id="password" name="password" placeholder="Enter password" />
  </div>
  <button type="submit" class="submit-btn">Login</button>
</form>

{% endblock %}
