body{
    margin: 0px;
}

.navbar{
    height: 40px;
    background-color: #343a40;
    color: #212529;
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 16px;
}

.nav-link{
    color: rgba(255,255,255,.5);    
    text-decoration: none;
    padding: 0.5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-align: left;
    font-size: 1rem;
    transition: 0.2s ease;
}

.links{
    display: flex;
}

.nav-link:hover{
    color: lightgray;

}

.navbar-click{
    display: none;
    cursor: pointer;
}

.bar{
    background-color: white;  
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.alert{
    padding: 1rem;
}

.alert-danger{
    background-color: rgba(255, 0, 0, 0.12);
}
.alert-success{
    background-color: rgba(0, 255, 0, 0.15);
}

.close{
    float: right;
    background: none;
    border: none;
    font-size: 1.4rem;
    display: flex;
    align-items: start;
    margin-top: -4px;
    color: gray;
    transition: 0.3s;
}

.close:hover{
    cursor: pointer;
}

.close.active .alert{
    display: none;
}








@media (max-width:768px){
    
    .navbar-click{
        display: block;
        float: left;
    }

    .navbar-click.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .navbar-click.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    .navbar-click.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .links{
        position: fixed;
        left: -100%;
        top:40px;
        gap: 0;
        flex-direction: column;
        background-color: #343a40;
        width: 100%;
        text-align: center;
        transition: 0.5s ease-in-out;
    }

    .nav-link{
        margin: 16px 0px;
    }

    .links.active{
        left: 0;

    }
}





























